HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### ENV file ###
.env


# dependencies
/clinet/node_modules
/clinet/.pnp
/clinet/.pnp.js

# testing
/clinet/coverage

# production
/clinet//build

# misc
/clinet/.DS_Store
/clinet/.env.local
/clinet/.env.development.local
/clinet/.env.test.local
/clinet/.env.production.local

/clinet/npm-debug.log*
/clinet/yarn-debug.log*
/clinet/yarn-error.log*